## Main method
snippet main
	public static void main (String[] args) {
		${1:/* code */}
	}

#println
snippet println
	System.out.println(${1});

## Access Modifiers
snippet po
	protected
snippet pu
	public
snippet pr
	private

## Comments
snippet /*
	/*
	 * ${1}
	 */

snippet el
	else
snippet elif
	else if (${1}) ${2}
snippet if
	if (${1}) ${2}

snippet try
	try {
		${3}
	} catch(${1:Exception} ${2:e}) {
	}

snippet for
	for (${1}; ${2}; ${3}) ${4}
snippet wh
	while (${1}) ${2}

